
  
  <div class="l-home_pannel">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tiny Epic tactics games</h5>
        <p class="card-text">Join a game or create one.</p>

          <ul class="list-group list-group-flush">
            <li class="list-group-item" ng-repeat="game in gameList">{{game.name}} - {{game.playerCount}}/2 <button type="button" class="btn btn-primary" ng-click="joinGame(game.ID)">Join</button></li>
          </ul>

          <p class="card-text" ng-if="gameList.length == 0 || !gameList">There are no current games, try create one.</p>

          <div class="mt_20">
            <button type="button" class="btn btn-success" ng-click="addLayer('dir-Layer-New-Game');">Create Game</button>
          </div>

      </div>
    </div>
  </div>