
  
  <div class="l-home_pannel">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tiny Epic tactics games</h5>
        <p class="card-text">Join a game or create one.</p>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio - 1/2 <button type="button" class="btn btn-primary">Join</button></li>
            <li class="list-group-item">Dapibus ac facilisis in <button type="button" class="btn btn-primary">Join</button></li>
            <li class="list-group-item">Vestibulum at eros <button type="button" class="btn btn-primary">Join</button></li>
          </ul>

          <div class="mt_20">
            <button type="button" class="btn btn-success" ng-click="addLayer('dir-Layer-New-Game');">Create Game</button>
          </div>

      </div>
    </div>
  </div>